<h1>Editing submission</h1>

<% form_for(@submission) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :a_0 %><br />
    <%= f.text_field :a_0 %>
  </p>
  <p>
    <%= f.label :a_sharp_0 %><br />
    <%= f.text_field :a_sharp_0 %>
  </p>
  <p>
    <%= f.label :b_0 %><br />
    <%= f.text_field :b_0 %>
  </p>
  <p>
    <%= f.label :c_1 %><br />
    <%= f.text_field :c_1 %>
  </p>
  <p>
    <%= f.label :c_sharp_1 %><br />
    <%= f.text_field :c_sharp_1 %>
  </p>
  <p>
    <%= f.label :d_1 %><br />
    <%= f.text_field :d_1 %>
  </p>
  <p>
    <%= f.label :d_sharp_1 %><br />
    <%= f.text_field :d_sharp_1 %>
  </p>
  <p>
    <%= f.label :e_1 %><br />
    <%= f.text_field :e_1 %>
  </p>
  <p>
    <%= f.label :f_1 %><br />
    <%= f.text_field :f_1 %>
  </p>
  <p>
    <%= f.label :f_sharp_1 %><br />
    <%= f.text_field :f_sharp_1 %>
  </p>
  <p>
    <%= f.label :g_1 %><br />
    <%= f.text_field :g_1 %>
  </p>
  <p>
    <%= f.label :g_sharp_1 %><br />
    <%= f.text_field :g_sharp_1 %>
  </p>
  <p>
    <%= f.label :a_1 %><br />
    <%= f.text_field :a_1 %>
  </p>
  <p>
    <%= f.label :a_sharp_1 %><br />
    <%= f.text_field :a_sharp_1 %>
  </p>
  <p>
    <%= f.label :b_1 %><br />
    <%= f.text_field :b_1 %>
  </p>
  <p>
    <%= f.label :c_2 %><br />
    <%= f.text_field :c_2 %>
  </p>
  <p>
    <%= f.label :c_sharp_2 %><br />
    <%= f.text_field :c_sharp_2 %>
  </p>
  <p>
    <%= f.label :d_2 %><br />
    <%= f.text_field :d_2 %>
  </p>
  <p>
    <%= f.label :d_sharp_2 %><br />
    <%= f.text_field :d_sharp_2 %>
  </p>
  <p>
    <%= f.label :e_2 %><br />
    <%= f.text_field :e_2 %>
  </p>
  <p>
    <%= f.label :f_2 %><br />
    <%= f.text_field :f_2 %>
  </p>
  <p>
    <%= f.label :f_sharp_2 %><br />
    <%= f.text_field :f_sharp_2 %>
  </p>
  <p>
    <%= f.label :g_2 %><br />
    <%= f.text_field :g_2 %>
  </p>
  <p>
    <%= f.label :g_sharp_2 %><br />
    <%= f.text_field :g_sharp_2 %>
  </p>
  <p>
    <%= f.label :a_2 %><br />
    <%= f.text_field :a_2 %>
  </p>
  <p>
    <%= f.label :a_sharp_2 %><br />
    <%= f.text_field :a_sharp_2 %>
  </p>
  <p>
    <%= f.label :b_2 %><br />
    <%= f.text_field :b_2 %>
  </p>
  <p>
    <%= f.label :c_3 %><br />
    <%= f.text_field :c_3 %>
  </p>
  <p>
    <%= f.label :c_sharp_3 %><br />
    <%= f.text_field :c_sharp_3 %>
  </p>
  <p>
    <%= f.label :d_3 %><br />
    <%= f.text_field :d_3 %>
  </p>
  <p>
    <%= f.label :d_sharp_3 %><br />
    <%= f.text_field :d_sharp_3 %>
  </p>
  <p>
    <%= f.label :e_3 %><br />
    <%= f.text_field :e_3 %>
  </p>
  <p>
    <%= f.label :f_3 %><br />
    <%= f.text_field :f_3 %>
  </p>
  <p>
    <%= f.label :f_sharp_3 %><br />
    <%= f.text_field :f_sharp_3 %>
  </p>
  <p>
    <%= f.label :g_3 %><br />
    <%= f.text_field :g_3 %>
  </p>
  <p>
    <%= f.label :g_sharp_3 %><br />
    <%= f.text_field :g_sharp_3 %>
  </p>
  <p>
    <%= f.label :a_3 %><br />
    <%= f.text_field :a_3 %>
  </p>
  <p>
    <%= f.label :a_sharp_3 %><br />
    <%= f.text_field :a_sharp_3 %>
  </p>
  <p>
    <%= f.label :b_3 %><br />
    <%= f.text_field :b_3 %>
  </p>
  <p>
    <%= f.label :c_4 %><br />
    <%= f.text_field :c_4 %>
  </p>
  <p>
    <%= f.label :c_sharp_4 %><br />
    <%= f.text_field :c_sharp_4 %>
  </p>
  <p>
    <%= f.label :d_4 %><br />
    <%= f.text_field :d_4 %>
  </p>
  <p>
    <%= f.label :d_sharp_4 %><br />
    <%= f.text_field :d_sharp_4 %>
  </p>
  <p>
    <%= f.label :e_4 %><br />
    <%= f.text_field :e_4 %>
  </p>
  <p>
    <%= f.label :f_4 %><br />
    <%= f.text_field :f_4 %>
  </p>
  <p>
    <%= f.label :f_sharp_4 %><br />
    <%= f.text_field :f_sharp_4 %>
  </p>
  <p>
    <%= f.label :g_4 %><br />
    <%= f.text_field :g_4 %>
  </p>
  <p>
    <%= f.label :g_sharp_4 %><br />
    <%= f.text_field :g_sharp_4 %>
  </p>
  <p>
    <%= f.label :a_4 %><br />
    <%= f.text_field :a_4 %>
  </p>
  <p>
    <%= f.label :a_sharp_4 %><br />
    <%= f.text_field :a_sharp_4 %>
  </p>
  <p>
    <%= f.label :b_4 %><br />
    <%= f.text_field :b_4 %>
  </p>
  <p>
    <%= f.label :c_5 %><br />
    <%= f.text_field :c_5 %>
  </p>
  <p>
    <%= f.label :c_sharp_5 %><br />
    <%= f.text_field :c_sharp_5 %>
  </p>
  <p>
    <%= f.label :d_5 %><br />
    <%= f.text_field :d_5 %>
  </p>
  <p>
    <%= f.label :d_sharp_5 %><br />
    <%= f.text_field :d_sharp_5 %>
  </p>
  <p>
    <%= f.label :e_5 %><br />
    <%= f.text_field :e_5 %>
  </p>
  <p>
    <%= f.label :f_5 %><br />
    <%= f.text_field :f_5 %>
  </p>
  <p>
    <%= f.label :f_sharp_5 %><br />
    <%= f.text_field :f_sharp_5 %>
  </p>
  <p>
    <%= f.label :g_5 %><br />
    <%= f.text_field :g_5 %>
  </p>
  <p>
    <%= f.label :g_sharp_5 %><br />
    <%= f.text_field :g_sharp_5 %>
  </p>
  <p>
    <%= f.label :a_5 %><br />
    <%= f.text_field :a_5 %>
  </p>
  <p>
    <%= f.label :a_sharp_5 %><br />
    <%= f.text_field :a_sharp_5 %>
  </p>
  <p>
    <%= f.label :b_5 %><br />
    <%= f.text_field :b_5 %>
  </p>
  <p>
    <%= f.label :c_6 %><br />
    <%= f.text_field :c_6 %>
  </p>
  <p>
    <%= f.label :c_sharp_6 %><br />
    <%= f.text_field :c_sharp_6 %>
  </p>
  <p>
    <%= f.label :d_6 %><br />
    <%= f.text_field :d_6 %>
  </p>
  <p>
    <%= f.label :d_sharp_6 %><br />
    <%= f.text_field :d_sharp_6 %>
  </p>
  <p>
    <%= f.label :e_6 %><br />
    <%= f.text_field :e_6 %>
  </p>
  <p>
    <%= f.label :f_6 %><br />
    <%= f.text_field :f_6 %>
  </p>
  <p>
    <%= f.label :f_sharp_6 %><br />
    <%= f.text_field :f_sharp_6 %>
  </p>
  <p>
    <%= f.label :g_6 %><br />
    <%= f.text_field :g_6 %>
  </p>
  <p>
    <%= f.label :g_sharp_6 %><br />
    <%= f.text_field :g_sharp_6 %>
  </p>
  <p>
    <%= f.label :a_6 %><br />
    <%= f.text_field :a_6 %>
  </p>
  <p>
    <%= f.label :a_sharp_6 %><br />
    <%= f.text_field :a_sharp_6 %>
  </p>
  <p>
    <%= f.label :b_6 %><br />
    <%= f.text_field :b_6 %>
  </p>
  <p>
    <%= f.label :c_7 %><br />
    <%= f.text_field :c_7 %>
  </p>
  <p>
    <%= f.label :c_sharp_7 %><br />
    <%= f.text_field :c_sharp_7 %>
  </p>
  <p>
    <%= f.label :d_7 %><br />
    <%= f.text_field :d_7 %>
  </p>
  <p>
    <%= f.label :d_sharp_7 %><br />
    <%= f.text_field :d_sharp_7 %>
  </p>
  <p>
    <%= f.label :e_7 %><br />
    <%= f.text_field :e_7 %>
  </p>
  <p>
    <%= f.label :f_7 %><br />
    <%= f.text_field :f_7 %>
  </p>
  <p>
    <%= f.label :f_sharp_7 %><br />
    <%= f.text_field :f_sharp_7 %>
  </p>
  <p>
    <%= f.label :g_7 %><br />
    <%= f.text_field :g_7 %>
  </p>
  <p>
    <%= f.label :g_sharp_7 %><br />
    <%= f.text_field :g_sharp_7 %>
  </p>
  <p>
    <%= f.label :a_7 %><br />
    <%= f.text_field :a_7 %>
  </p>
  <p>
    <%= f.label :a_sharp_7 %><br />
    <%= f.text_field :a_sharp_7 %>
  </p>
  <p>
    <%= f.label :b_7 %><br />
    <%= f.text_field :b_7 %>
  </p>
  <p>
    <%= f.label :c_8 %><br />
    <%= f.text_field :c_8 %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @submission %> |
<%= link_to 'Back', submissions_path %>