<style type="text/css">
.black { background-color: #333; color: #eee; }
.white { background-color: #eee; color: #333; }
</style>

<h1>New submission</h1>
<h2><%=h @submission.survey.group %></h2>

<p>
  Send the link to this page to your group members
  to have them fill out your survey.
</p>

<% form_for @submission, @submission, :url => "/submissions/" + @visitor_hash + "/create" do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>

  <table>
    
    <tr>
      <th>Pitch</th>
      <td style="text-align: left" colspan=6>(0) Can't sing at all</td>
      <td style="text-align: right" colspan=5>Perfect control (10)</td>
    </tr>

    <% @fields.each do |field| %>
      <tr>
        <td class="<%= field[:color] %>" style="text-align: right"><%= field[:label] %></td>
        <% @ratings.each do |rating| %>
          <td><%= radio_button_tag "submission[" + field[:name] + "]", rating[:value], (@submission[field[:name]] == rating[:value]) %></td>
        <% end %>
      </tr>
    <% end %>
    
  </table>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>