<p>
  <b>Name:</b>
  <%=h @submission.name %>
</p>

<p>
  <b>Email:</b>
  <%=h @submission.email %>
</p>

<p>
  <b>A 0:</b>
  <%=h @submission.a_0 %>
</p>

<p>
  <b>A sharp 0:</b>
  <%=h @submission.a_sharp_0 %>
</p>

<p>
  <b>B 0:</b>
  <%=h @submission.b_0 %>
</p>

<p>
  <b>C 1:</b>
  <%=h @submission.c_1 %>
</p>

<p>
  <b>C sharp 1:</b>
  <%=h @submission.c_sharp_1 %>
</p>

<p>
  <b>D 1:</b>
  <%=h @submission.d_1 %>
</p>

<p>
  <b>D sharp 1:</b>
  <%=h @submission.d_sharp_1 %>
</p>

<p>
  <b>E 1:</b>
  <%=h @submission.e_1 %>
</p>

<p>
  <b>F 1:</b>
  <%=h @submission.f_1 %>
</p>

<p>
  <b>F sharp 1:</b>
  <%=h @submission.f_sharp_1 %>
</p>

<p>
  <b>G 1:</b>
  <%=h @submission.g_1 %>
</p>

<p>
  <b>G sharp 1:</b>
  <%=h @submission.g_sharp_1 %>
</p>

<p>
  <b>A 1:</b>
  <%=h @submission.a_1 %>
</p>

<p>
  <b>A sharp 1:</b>
  <%=h @submission.a_sharp_1 %>
</p>

<p>
  <b>B 1:</b>
  <%=h @submission.b_1 %>
</p>

<p>
  <b>C 2:</b>
  <%=h @submission.c_2 %>
</p>

<p>
  <b>C sharp 2:</b>
  <%=h @submission.c_sharp_2 %>
</p>

<p>
  <b>D 2:</b>
  <%=h @submission.d_2 %>
</p>

<p>
  <b>D sharp 2:</b>
  <%=h @submission.d_sharp_2 %>
</p>

<p>
  <b>E 2:</b>
  <%=h @submission.e_2 %>
</p>

<p>
  <b>F 2:</b>
  <%=h @submission.f_2 %>
</p>

<p>
  <b>F sharp 2:</b>
  <%=h @submission.f_sharp_2 %>
</p>

<p>
  <b>G 2:</b>
  <%=h @submission.g_2 %>
</p>

<p>
  <b>G sharp 2:</b>
  <%=h @submission.g_sharp_2 %>
</p>

<p>
  <b>A 2:</b>
  <%=h @submission.a_2 %>
</p>

<p>
  <b>A sharp 2:</b>
  <%=h @submission.a_sharp_2 %>
</p>

<p>
  <b>B 2:</b>
  <%=h @submission.b_2 %>
</p>

<p>
  <b>C 3:</b>
  <%=h @submission.c_3 %>
</p>

<p>
  <b>C sharp 3:</b>
  <%=h @submission.c_sharp_3 %>
</p>

<p>
  <b>D 3:</b>
  <%=h @submission.d_3 %>
</p>

<p>
  <b>D sharp 3:</b>
  <%=h @submission.d_sharp_3 %>
</p>

<p>
  <b>E 3:</b>
  <%=h @submission.e_3 %>
</p>

<p>
  <b>F 3:</b>
  <%=h @submission.f_3 %>
</p>

<p>
  <b>F sharp 3:</b>
  <%=h @submission.f_sharp_3 %>
</p>

<p>
  <b>G 3:</b>
  <%=h @submission.g_3 %>
</p>

<p>
  <b>G sharp 3:</b>
  <%=h @submission.g_sharp_3 %>
</p>

<p>
  <b>A 3:</b>
  <%=h @submission.a_3 %>
</p>

<p>
  <b>A sharp 3:</b>
  <%=h @submission.a_sharp_3 %>
</p>

<p>
  <b>B 3:</b>
  <%=h @submission.b_3 %>
</p>

<p>
  <b>C 4:</b>
  <%=h @submission.c_4 %>
</p>

<p>
  <b>C sharp 4:</b>
  <%=h @submission.c_sharp_4 %>
</p>

<p>
  <b>D 4:</b>
  <%=h @submission.d_4 %>
</p>

<p>
  <b>D sharp 4:</b>
  <%=h @submission.d_sharp_4 %>
</p>

<p>
  <b>E 4:</b>
  <%=h @submission.e_4 %>
</p>

<p>
  <b>F 4:</b>
  <%=h @submission.f_4 %>
</p>

<p>
  <b>F sharp 4:</b>
  <%=h @submission.f_sharp_4 %>
</p>

<p>
  <b>G 4:</b>
  <%=h @submission.g_4 %>
</p>

<p>
  <b>G sharp 4:</b>
  <%=h @submission.g_sharp_4 %>
</p>

<p>
  <b>A 4:</b>
  <%=h @submission.a_4 %>
</p>

<p>
  <b>A sharp 4:</b>
  <%=h @submission.a_sharp_4 %>
</p>

<p>
  <b>B 4:</b>
  <%=h @submission.b_4 %>
</p>

<p>
  <b>C 5:</b>
  <%=h @submission.c_5 %>
</p>

<p>
  <b>C sharp 5:</b>
  <%=h @submission.c_sharp_5 %>
</p>

<p>
  <b>D 5:</b>
  <%=h @submission.d_5 %>
</p>

<p>
  <b>D sharp 5:</b>
  <%=h @submission.d_sharp_5 %>
</p>

<p>
  <b>E 5:</b>
  <%=h @submission.e_5 %>
</p>

<p>
  <b>F 5:</b>
  <%=h @submission.f_5 %>
</p>

<p>
  <b>F sharp 5:</b>
  <%=h @submission.f_sharp_5 %>
</p>

<p>
  <b>G 5:</b>
  <%=h @submission.g_5 %>
</p>

<p>
  <b>G sharp 5:</b>
  <%=h @submission.g_sharp_5 %>
</p>

<p>
  <b>A 5:</b>
  <%=h @submission.a_5 %>
</p>

<p>
  <b>A sharp 5:</b>
  <%=h @submission.a_sharp_5 %>
</p>

<p>
  <b>B 5:</b>
  <%=h @submission.b_5 %>
</p>

<p>
  <b>C 6:</b>
  <%=h @submission.c_6 %>
</p>

<p>
  <b>C sharp 6:</b>
  <%=h @submission.c_sharp_6 %>
</p>

<p>
  <b>D 6:</b>
  <%=h @submission.d_6 %>
</p>

<p>
  <b>D sharp 6:</b>
  <%=h @submission.d_sharp_6 %>
</p>

<p>
  <b>E 6:</b>
  <%=h @submission.e_6 %>
</p>

<p>
  <b>F 6:</b>
  <%=h @submission.f_6 %>
</p>

<p>
  <b>F sharp 6:</b>
  <%=h @submission.f_sharp_6 %>
</p>

<p>
  <b>G 6:</b>
  <%=h @submission.g_6 %>
</p>

<p>
  <b>G sharp 6:</b>
  <%=h @submission.g_sharp_6 %>
</p>

<p>
  <b>A 6:</b>
  <%=h @submission.a_6 %>
</p>

<p>
  <b>A sharp 6:</b>
  <%=h @submission.a_sharp_6 %>
</p>

<p>
  <b>B 6:</b>
  <%=h @submission.b_6 %>
</p>

<p>
  <b>C 7:</b>
  <%=h @submission.c_7 %>
</p>

<p>
  <b>C sharp 7:</b>
  <%=h @submission.c_sharp_7 %>
</p>

<p>
  <b>D 7:</b>
  <%=h @submission.d_7 %>
</p>

<p>
  <b>D sharp 7:</b>
  <%=h @submission.d_sharp_7 %>
</p>

<p>
  <b>E 7:</b>
  <%=h @submission.e_7 %>
</p>

<p>
  <b>F 7:</b>
  <%=h @submission.f_7 %>
</p>

<p>
  <b>F sharp 7:</b>
  <%=h @submission.f_sharp_7 %>
</p>

<p>
  <b>G 7:</b>
  <%=h @submission.g_7 %>
</p>

<p>
  <b>G sharp 7:</b>
  <%=h @submission.g_sharp_7 %>
</p>

<p>
  <b>A 7:</b>
  <%=h @submission.a_7 %>
</p>

<p>
  <b>A sharp 7:</b>
  <%=h @submission.a_sharp_7 %>
</p>

<p>
  <b>B 7:</b>
  <%=h @submission.b_7 %>
</p>

<p>
  <b>C 8:</b>
  <%=h @submission.c_8 %>
</p>


<%= link_to 'Edit', edit_submission_path(@submission) %> |
<%= link_to 'Back', submissions_path %>