<h1>Editing survey</h1>

<% form_for @survey, @survey, :url => "/surveys/" + @survey[:owner_hash] + "/update" do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :group %><br />
    <%= f.text_field :group %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<a href="/surveys/<%=h @survey.owner_hash %>/show">Show</a> |
<%= link_to 'Back', surveys_path %>