<h1>Listing surveys</h1>

<table>
  <tr>
    <th>Created</th>
    <th>Group</th>
  </tr>

<% @surveys.each do |survey| %>
  <tr>
    <td><%= time_ago_in_words survey.created_at %> ago</td>
    <td><%=h survey.group %></td>
    <td><a href="/surveys/<%=h survey.owner_hash %>/show">Show</a></td>
    <!-- 
    <td><a href="/surveys/<%=h survey.owner_hash %>/edit">Edit</a></td>
    <td><%= link_to 'Delete', { :controller => 'surveys', :action => 'destroy', :owner_hash => survey.owner_hash }, :confirm => 'Are you sure?', :method => :delete %></td> 
    -->
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New survey', new_survey_path %>