<p>
  <b>Email:</b>
  <%=h @survey.email %>
</p>

<p>
  <b>Group:</b>
  <%=h @survey.group %>
</p>

<img src="<%= @chart.to_url %>" />

<p>This survey has <%= @survey.submissions.size %> submissions:</p>

<table>
  <%= render(:partial => 'submission', :collection => @survey.submissions) %>
</table>

<p><a href="/submissions/new/<%=h @survey.visitor_hash %>">Take this survey</a></p>
<!-- <p><%= link_to 'Email this survey', { :controller => 'survey', :action => 'email', :visitor_hash => @survey.owner_hash } %></p> -->

<a href="/surveys/edit/<%=h @survey.owner_hash %>">Edit</a> |
<%= link_to 'Back', surveys_path %>