<p>
  <b>Group:</b>
  <%=h @survey.group %>
</p>

<img src="<%= @chart.to_url %>" />

<p>This survey has <%= @survey.submissions.size %> submissions:</p>

<table>
  <tr>
    <th>Name</th>
    <th>Submitted</th>
  </tr>
  <%= render(:partial => 'submission', :collection => @survey.submissions) %>
</table>

<p><a href="/submissions/<%=h @survey.visitor_hash %>/new">Take this survey</a></p>
<!-- <p><%= link_to 'Email this survey', { :controller => 'survey', :action => 'email', :visitor_hash => @survey.owner_hash } %></p> -->

<a href="/surveys/<%=h @survey.owner_hash %>/edit">Edit</a> |
<%= link_to 'Back', surveys_path %>