<h1>Survey for <%=h @survey.group %></h1>

<p>
  This is a private page where music directors can
  view the results of their survey and edit members'
  responses.
</p>

<%= render(:partial => 'chart') %>

<p>This survey has <%= @survey.submissions.size %> submissions:</p>

<table>
  <tr>
    <th>Name</th>
    <th>Submitted</th>
  </tr>
  <%= render(:partial => 'submission', :collection => @survey.submissions) %>
</table>

<p><a href="/submissions/<%=h @survey.visitor_hash %>/new">Take this survey</a></p>
<!-- <p><%= link_to 'Email this survey', { :controller => 'survey', :action => 'email', :visitor_hash => @survey.owner_hash } %></p> -->

<a href="/surveys/<%=h @survey.owner_hash %>/edit">Edit</a> |
<%= link_to 'Back', surveys_path %>
